mixin card(title, cardLink, label, btnLink, type)
  if type === "gql"
    div.card.pink
      a(href=cardLink)
        include ../includes/svg/graphql.pug
        h3.subtitle= title
      a.button(href=btnLink)= label

  else if type === "rest"
     div.card.blue
      a(href=cardLink)
        include ../includes/svg/rest.pug
        h3.subtitle= title
      a.button(href=btnLink)= label

