footer
      p.small Made with ♥ by
        | !{' '}
        a(href="https://heig-vd.ch/rad/instituts/igt" target="_blank") Institute of Thermal Engineering
        | !{', '}
        a(href="https://heig-vd.ch/rad/instituts/mei" target="_blank") Media Engineering Institute
        | !{' and '}
        a(href="https://www.open-net.ch" target="_blank") Open Net
      p.small
        span= creditYears
        | !{' '}
        span | Code licensed under
        | !{' '}
        a(href="https://github.com/MediaComem/open-co2/blob/main/LICENSE" target="_blank") MIT License
